
*{
    margin: 0;
    border: 0;
}
a{
    text-decoration: none;
    color: white;
}

body{
    background-color: rgb(29, 28, 28);
    color: white;
}

/* Home page style */
.nav-bar{
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.first-nav-item{
    width: 700px;
}
.last-nav-item{
    margin-right: 100px;
}

.current{
    color: aqua;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 2px;
}
.nav-bar a:hover{
   
    color: aqua;
    border: 1px solid red;
    border-radius: 3px;
    padding: 10px;
    background-color: blueviolet;
}

.home-main{
    display: flex;
    justify-content:space-evenly;
    margin-left: 50px;
    height: 500px;
}

.identity{
    margin-left: 200px;
    margin-top: 300px;
    height: 300px;
    width: 500px;
    line-height:1.5;
}

.identity p{
    font-size: 1.2rem;
}

.profile{
    margin-top: 50px;
    margin-left: 200px;
    height: 400px;
    width: 400px;
    border-radius:50%;
    border: 5px solid rgb(45, 156, 73);
    background-image: url(../images/profile.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
}


/* About me page style */

.about-main{
    
    font-size: 1rem;
    font-family: Arial;
    line-height:1.5;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
}

.about-me{
    margin: 20px;
    width: 800px;
}

.about-bio{
    margin-top: 20px;
    height: 70px;
}

.academic{
    margin-top: 20px;
    height: 120px;
}
.achievements{
    margin-top: 20px;
    height: 140px;
}

.interests{
  margin-top: 40px;
  height: 120px;
}



/* skill page style */

.skills-header {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 50px;
}

.skills-header h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #14be14;
}

.skills-header p {
  font-size: 1.2rem;
  color: #a0e7ff;
}

.skills-main {
  display: flex;
  justify-content: space-evenly;
}

.skills-left{
  margin-left: 70px;
}

.skills-right {
margin-right: 70px;
}

.skills-main section {
  margin-bottom: 40px;
}

.skills-main h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #00bcd4;
}

.skills-main ul {
  list-style-type: disc;
  margin-left: 20px;
  line-height: 1.6;
  font-size: 1.1rem;
}


/* contact page style */

.contact-header {
  text-align: center;
  padding: 40px 20px;
  background-color: #222020;
  color: white;
}

.contact-header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.contact-header p {
  font-size: 1.1rem;
  color: #a0e7ff;
}

.contact-main {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 20px;
}

.contact-main section {
  margin-bottom: 30px;
}

.contact-main h2 {
  font-size: 1.6rem;
  margin-bottom: 12px;
  color: #00bcd4;
}

.contact-info ul {
  list-style: none;
  padding-left: 0;
}

.contact-info li {
  font-size: 1.1rem;
  margin-bottom: 8px;
}

.contact-links ul {
  list-style: none;
  padding-left: 0;
}

.contact-links li {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.contact-links i {
  font-size: 1.3rem;
  color: #00bcd4;
  min-width: 22px; 
}

.contact-links a {
  text-decoration: none;
  color: #0077cc;
  transition: color 0.2s ease;
}

.contact-links a:hover {
  text-decoration: underline;
  color: #005fa3;
}

.contact-note p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #444;
}
